<!DOCTYPE html>
<html>
<head>
    <title>Autonomous Vehicles Survey</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
        <h2>Welcome to AV Survey App</h2>
        <h3>Select Customer Opinion</h3>
		<hr>
        <form action = "{{ url_for('avclassify') }}" method="POST">
            <table>
				<tr>
                    <td><h4>How familiar are you with the technology behind autonomous vehicles?</h4>
                        <select name = "FamiliarityTech"> 
                            <option value="Not familiar at all">Not familiar at all</option>
                            <option value="Somewhat familiar">Somewhat familiar</option>
                            <option value="Mostly familiar">Mostly familiar</option>
                            <option value="Extremely familiar">Extremely familiar</option> 
                        </select>
                    </td>
                </tr>
				<tr>
                    <td><h4>Should AV companies be required to disclose information and data of their cars with the proper authorities?</h4>
                        <select name = "SharePerformanceData">
							<option value="Not sure">Not sure</option>
                            <option value="Yes">Yes</option> 
                            <option value="No">No</option>
                        </select>
                    </td>
				</tr>
				<tr>
                    <td><h4>Should AV companies be required to report all safety-related incidents with the proper authorities?</h4>
                        <select name = "ReportSafetyIncident">
							<option value="Not sure">Not sure</option>
                            <option value="Yes">Yes</option> 
                            <option value="No">No</option>
                        </select>
                    </td>
				</tr>
                <tr>
                    <td><h4>In March of 2018; an AV struck and killed Elaine Herzberg; a pedestrian; in Tempe; AZ. As a pedestrian and/or bicyclist; how did this event and its outcome change your opinion about sharing the road with AVs?</h4>
                        <select name = "ArizonaCrash">
                            <option value="No change">No Change</option>
							<option value="Significantly more negative opinion">Significantly more negative opinion</option>
                            <option value="Somewhat more negative opinion">Somewhat more negative opinion </option>
                            <option value="Somewhat more positive opinion">Somewhat more positive opinion</option>
                            <option value="Significantly more positive opinion">Significantly more positive opinion</option>
                        </select>
                    </td>
				</tr>
				<tr>
                    <td><h4>Should AV speeds be capped at 25 mph when operating in autonomous mode?</h4>
                        <select name = "Speed25Mph">
							<option value="Not sure">Not sure</option>
                            <option value="Yes">Yes</option> 
                            <option value="No">No</option>
                        </select>
                    </td>
				</tr>
				<tr>
                    <td><h4>What do you think about the use of Pittsburgh's public streets as a proving ground for Autonomous Vehicles?</h4>
                        <select name = "ProvingGround">
                            <option value="Neutral">Neutral</option>
                            <option value="Disapprove">Disapprove</option>
                            <option value="Somewhat Disapprove">Somewhat Disapprove</option>
                            <option value="Somewhat Approve">Somewhat Approve</option>
                            <option value="Approve">Approve</option>                        
                        </select>
                    </td>
				</tr>
				<tr>
                    <td><h4>What effect do you think that AVs will have on traffic injuries and fatalities?</h4>
                        <select name = "AvImpact">
                            <option value="No effect">No effect</option>
                            <option value="Significantly Worse">Significantly Worse</option>
                            <option value="Slightly Worse">Slightly Worse</option>
                            <option value="Slightly Better">Slightly Better</option>
                            <option value="Significantly Better">Significantly Better</option>
                        </select>
                    </td>
				</tr>
                <tr>
                    <td><h4>Do you think that AVs should operate in manual mode while in an active school zone?</h4>
                        <select name = "SchoolZoneManual">
							<option value="Not sure">Not sure</option>
                            <option value="Yes">Yes</option> 
                            <option value="No">No</option>
                        </select>
                    </td>
				</tr>
            </table>
			<hr>			
            <p><input type="submit" value="Will the customer take AV taxi ride?"></p>
             {% if (results) %} 
             <h3> Customer prediction: {{ results }}  </h3>
             <p> for following features: </p>
             <p> FamiliarityTech: {{FamiliarityTech}} </p>
			 <p> SharePerformanceData: {{SharePerformanceData}} </P>
			 <p> ReportSafetyIncident: {{ReportSafetyIncident}} </p>
			 <p> ArizonaCrash: {{ArizonaCrash}} </p>
             <p> Speed25Mph: {{Speed25Mph}} </p>
			 <p> ProvingGround: {{ProvingGround}} </p>
			 <p> AvImpact: {{AvImpact}} </p>
			 <p> SchoolZoneManual: {{SchoolZoneManual}}</p>
             {% endif %} 
        </form>
</body>
</html>