<!DOCTYPE html>
<html>
<head>
    <title>Autonomous Vehicles Survey</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
        <h2>Welcome to AV Survey App</h2>
        <h3>Select Customer Opinion</h3>
		<hr>
        <form action = "{{ url_for('AVclassify') }}" method="POST">
            <table>
                <tr>
                    <td><h4>How safe do you feel sharing the road with autonomous vehicles?</h4>
                        <select name = "SafeAv">
                            <option value="3">Neutral</option>
							<option value="1">Very Unsafe</option>
                            <option value="2">Unsafe</option>
                            <option value="4">Safe</option>
                            <option value="5">Very Safe</option>
                        </select>
                    </td>
				</tr>
				<tr>
                    <td><h4>What effect do you think that AVs will have on traffic injuries and fatalities?</h4>
                        <select name = "AvImpact">
                            <option value="3">No Effect</option>
                            <option value="1">Significantly Worse</option>
                            <option value="2">Slightly Worse</option>
                            <option value="4">Slightly Better</option>
                            <option value="5">Significantly Better</option>
                        </select>
                    </td>
				</tr>
				<tr>
                    <td><h4>What do you think about the use of Pittsburgh's public streets as a proving ground for Autonomous Vehicles?</h4>
                        <select name = "ProvingGround">
                            <option value="3">Neutral</option>
                            <option value="1">Disapprove</option>
                            <option value="2">Somewhat Disapprove</option>
                            <option value="4">Somewhat Approve</option>
                            <option value="5">Approve</option>                        
                        </select>
                    </td>
				</tr>
				<tr>
                    <td><h4>How familiar are you with the technology behind autonomous vehicles?</h4>
                        <select name = "FamiliarityTech"> 
                            <option value="1">Not Familiar At All</option>
                            <option value="2">Somewhat Familiar</option>
                            <option value="3">Mostly Familiar</option>
                            <option value="4">Extremely Familiar</option> 
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><h4>Do you think that AVs should operate in manual mode while in an active school zone?</h4>
                        <select name = "SchoolZoneManual">
							<option value="not sure">Not Sure</option>
                            <option value="yes">Yes</option> 
                            <option value="no">No</option>
                        </select>
                    </td>
				</tr>
				<tr>
                    <td><h4>Have you been near an AV while walking or using a mobility device in Pittsburgh?</h4>
                        <select name = "SharedPedestrian">
							<option value="not sure">Not Sure</option>
                            <option value="yes">Yes</option> 
                            <option value="no">No</option>
                        </select>
					</td>
                </tr>
				<tr>
					<td><h4>ZipCode</h4>
						<input type="text" name="ZipCode" inputmode="numeric" placeholder="Enter ZipCode"> 
                    </td>
				</tr>
				<tr>
                    <td><h4>To what extent have you been paying attention to the subject of AVs in the news?</h4>
                        <select name = "FamiliarityNews">
                            <option value="1">Not At All</option>
                            <option value="2">To Little Extent</option>
                            <option value="3">To Some Extent</option>
                            <option value="4">To a Moderate Extent</option>
							<option value="5">To a Large Extent</option>
                        </select>
                    </td>            
                </tr>
            </table>
			<hr>			
            <p><input type="submit" value="Will the customer take AV taxi ride?" class="custom-button"></p>
             {% if (results) %} 
             <h3> Customer prediction: {{ results }}  </h3>
             <p> for following features: </p>
             <p> SafeAv: {{SafeAV}} </p>
			 <p> AvImpact: {{AvImpact}} </P>
			 <p> ProvingGround: {{ProvingGround}} </p>
			 <p> FamiliarityTech: {{FamiliarityTech}} </p>
             <p> SchoolZoneManual: {{SchoolZoneManual}} </p>
			 <p> SharedPedestrian: {{SharedPedestrian}} </p>
			 <p> ZipCode: {{ZipCode}} </p>
			 <p> FamiliarityNews: {{FamiliarityNews}}</p>
             {% endif %} 
        </form>
</body>
</html>