body  {
	background-color: #D4F1F4
}

hr {
	border: none;
    height: 2px;
    background-color: #05445E; 
}

table {
    /*border: 2px solid gray;
	border-color: #05445E;*/
    border-collapse: collapse;
}

td, th {
    padding: 5px;
}


td {
	height: 50px;
}

h2 {
	color: #05445E;
}

h3 {
	color: #05445E;
}

h4 {
	color: #05445E;
	font-family: Arial, sans-serif;
	font-size: 1.0em;
	margin-top: 20px;
	margin-bottom: 10px;
}

select {
	color: #05445E;
}

p  {
	color: #05445E;
}

input[type=submit] {
        background-color: #05445E;
        border: none;
        color: #fff;
		font-family: Arial, sans-serif;
		font-weight: bold;
        padding: 15px 30px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
}
	
